
h1 {
	text-align: center;
}



#wrapper {
	height: 100%;
	width: 100%;
	background-attachment: fixed;
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-position: 50% 60%;
	background-repeat: no-repeat; 

}

#content {

}

#centered {

}

html, body {
	height: 100%;
	width: 100%;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















